pipeline/JIRA.json
{
	"name": "JIRA",
	"properties": {
		"activities": [
			{
				"name": "Copy Jira to SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JiraSource"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "JiraObject1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy Jira to SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://laemailnotification.azurewebsites.net:443/api/Alert/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=RtDVomnY96irRF4Co_vokLuQDzyBpmlc-vR8LyXCE2s",
					"method": "POST",
					"body": {
						"value": "{\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"ErrorMessage\":\"@{activity('Copy Jira to SQL').Error.Message}\",\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"Runid\":\"@{pipeline().RunId}\"\n\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-07-05T16:13:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}